<renesis>
  <sites>
    <site culture="en-gb">
      <campaigns>

        <campaign masterCulture="en-gb" campaignId="rebels" campaignFriendlyName="Rebels" apiPageSize="10">
          <contentTypes>
            <contentType name="Html" typeName="Renesis.Models.Content.HtmlContent, Renesis" displayName="Html Content" icon="glyphicon glyphicon-font" />
            <contentType name="Video" typeName="Renesis.Models.Content.MazdaVideoContent, Renesis" displayName="YouTube Video" icon="glyphicon glyphicon-film" />
            <contentType name="Image" typeName="Renesis.Models.Content.ImageContent, Renesis" displayName="Image" icon="glyphicon glyphicon-picture" />
            <contentType name="Group" typeName="Renesis.Models.Content.GroupContent, Renesis" displayName="Content Group" icon="glyphicon glyphicon-align-justify" />
          </contentTypes>

          <tags>
            <add name="Lifestyle" value="Lifestyle" />
            <add name="Handcraft" value="Handcraft" />
            <add name="Art" value="Art" />
            <add name="Design" value="Design" />
            <add name="Subculture" value="Subculture" />
          </tags>

          <categories>
            <add name="CREATE" value="CREATE" />
            <add name="LIVE" value="LIVE" />
            <add name="PROTECT" value="PROTECT" />
            <add name="DISCOVER" value="DISCOVER" />
          </categories>
        </campaign>
      </campaigns>
    </site>
    
    <site culture="de-de">
      <campaigns>
        <campaign masterCulture="en-gb" campaignId="rebels" campaignFriendlyName="Rebels" apiPageSize="10">
          <contentTypes>
            <contentType name="Html" typeName="Renesis.Models.Content.HtmlContent, Renesis" displayName="Html Content" icon="glyphicon glyphicon-font" />
            <contentType name="Video" typeName="Renesis.Models.Content.MazdaVideoContent, Renesis" displayName="YouTube Video" icon="glyphicon glyphicon-film" />
            <contentType name="Image" typeName="Renesis.Models.Content.ImageContent, Renesis" displayName="Image" icon="glyphicon glyphicon-picture" />
            <contentType name="Group" typeName="Renesis.Models.Content.GroupContent, Renesis" displayName="Content Group" icon="glyphicon glyphicon-align-justify" />
          </contentTypes>

          <tags>
            <add name="Lifestyle" value="Lifestyle" />
            <add name="Handcraft" value="Handcraft" />
            <add name="Art" value="Art" />
            <add name="Design" value="Design" />
            <add name="Subculture" value="Subculture" />
          </tags>
          
          <categories>
            <add name="CREATE" value="CREATE" />
            <add name="LIVE" value="LIVE" />
            <add name="PROTECT" value="PROTECT" />
            <add name="DISCOVER" value="DISCOVER" />
          </categories>
        </campaign>
        
      </campaigns>
    </site>
  </sites>
  <corsOrigins>
    <add name="local" value="http://localhost:8000" />
  </corsOrigins>
</renesis>