<renesis>
  <sites>
    <site culture="en-gb">
      <campaigns>
        <campaign masterCulture="en-GB" campaignId="m3vs" campaignFriendlyName="Mazda3 VS" apiPageSize="2">
          <contentTypes>
            <contentType name="Html" typeName="Renesis.Models.Content.HtmlContent" displayName="Html Content" icon="glyphicon glyphicon-font" />
            <contentType name="YouTube" typeName="Renesis.Models.Content.YouTubeContent" displayName="YouTube Video" icon="glyphicon glyphicon-film" />
            <contentType name="Image" typeName="Renesis.Models.Content.ImageContent" displayName="Image" icon="glyphicon glyphicon-picture" />
            <contentType name="Group" typeName="Renesis.Models.Content.GroupContent" displayName="Content Group" icon="glyphicon glyphicon-align-justify" />
          </contentTypes>

          <tags>
            <add name="HTMLTile1" value="HTMLTile1" />
            <add name="HTMLTile2" value="HTMLTile2" />
            <add name="HTMLTile3" value="HTMLTile3" />
            <add name="HTMLTile4" value="HTMLTile4" />

            <add name="VideoTile1" value="VideoTile1" />
            <add name="ImageTile1" value="ImageTile1" />
            <add name="CompareTile1" value="CompareTile1" />

            <add name="VersusTile1" value="VersusTile1" />
          </tags>

          <categories>
            <add name="interior" value="Interior" />
            <add name="exterior" value="Exterior" />
            <add name="news" value="News and Reviews" />
            <add name="m3facts" value="Mazda3 Facts" />
            <add name="challenger" value="Challenger" />
          </categories>
        </campaign>
      </campaigns>
    </site>
    <site culture="en-us">
      <campaigns>
        <campaign masterCulture="en-GB" campaignId="m3vs" campaignFriendlyName="Mazda3 VS" apiPageSize="2">
          <contentTypes>
            <contentType name="Html" typeName="Renesis.Models.Content.HtmlContent" displayName="Html Content" icon="glyphicon glyphicon-font" />
            <contentType name="YouTube" typeName="Renesis.Models.Content.YouTubeContent" displayName="YouTube Video" icon="glyphicon glyphicon-film" />
            <contentType name="Image" typeName="Renesis.Models.Content.ImageContent" displayName="Image" icon="glyphicon glyphicon-picture" />
            <contentType name="Group" typeName="Renesis.Models.Content.GroupContent" displayName="Content Group" icon="glyphicon glyphicon-align-justify" />
          </contentTypes>

          <tags>
            <add name="HTMLTile1" value="HTMLTile1" />
            <add name="HTMLTile2" value="HTMLTile2" />
            <add name="HTMLTile3" value="HTMLTile3" />
            <add name="HTMLTile4" value="HTMLTile4" />

            <add name="VideoTile1" value="VideoTile1" />
            <add name="ImageTile1" value="ImageTile1" />
            <add name="CompareTile1" value="CompareTile1" />

            <add name="VersusTile1" value="VersusTile1" />
          </tags>

          <categories>
            <add name="interior" value="Interior" />
            <add name="exterior" value="Exterior" />
            <add name="news" value="News and Reviews" />
            <add name="m3facts" value="Mazda3 Facts" />
            <add name="challenger" value="Challenger" />
          </categories>
        </campaign>
      </campaigns>
    </site>
  </sites>
</renesis>