@model Renesis.Models.Content.MazdaVideoContent
<div data-module="@Model.Id" class="video-container">
	<iframe src="http://video.mazdamotors.eu/@Model.AccountId/embed/@Model.VideoId/" frameborder="0" width="640" height="400"></iframe>
</div>