@model Renesis.Models.Content.YouTubeContent
<div data-module="@Model.Id" class="video-container">
	<iframe src="http://www.youtube.com/embed/@Model.YouTubeId" frameborder="0" width="560" height="315"></iframe>
</div>